body {
    background-color: rgb(15, 23, 42);
    padding: 115px 70px;
    overflow: hidden;
  }
  
  .hero-container {
    gap: 20px;
    display: flex;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 57%;
  }
  
  .hero-text {
    font-family:
      ROG Fonts,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
  }
  
  .hero-title {
    font-size: 64px;
  }
  
  .hero-description {
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    margin-top: 105px;
  }
  
  .hero-button {
    border-radius: 1px;
    background-color: rgba(56, 189, 248, 0);
    border: 1px solid rgb(53, 46, 46);
    margin-top: 201px;
    width: 205px;
    padding: 5px 23px 16px;
    color: rgb(255, 255, 255);
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: ROG Fonts;
  }
  
  .hero-button:hover {
    background-color: rgba(56, 189, 248, 0.1);
  }
  
  .hero-image {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 43%;
    margin-left: 20px;
  }
  
  .hero-image img {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 700px;
    margin-top: 21px;
  }
  
  @media (max-width: 991px) {
    .hero {
      padding: 100px 20px;
    }
  
    .hero-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .hero-content {
      width: 100%;
    }
  
    .hero-text {
      margin-top: 40px;
    }
  
    .hero-title {
      max-width: 100%;
      margin-right: 6px;
      font-size: 40px;
    }
  
    .hero-description {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .hero-button {
      margin-top: 40px;
      padding: 5px 20px 16px;
    }
  
    .hero-image {
      width: 100%;
      margin-left: 0;
    }
  
    .hero-image img {
      max-width: 100%;
      margin-top: 40px;
    }
  }